# Add all of the environmental variables here instead of 
# embedding them directly in the app and utilize them 
# with the `DotEnv` package.

PORT=
FB_API_KEY=
FB_AUTH_DOMAIN=
FB_PROJ_ID=
FB_STORAGE_BUCKET=
FB_MESSAGING_SENDER_ID=
FB_APP_ID=
FB_MEASUREMENT_ID=
FB_DATABASE_URL=
FB_TYPE=
FB_PROJECT=
FB_PRIVATE_KEY_ID=
FB_PRIVATE_KEY=
FB_CLIENT_EMAIL=
FB_CLIENT_ID=
FB_AUTH_URI=
FB_TOKEN_URI=
FB_AUTH_PROVIDER_X509_CERT_URL=
FB_CLIENT_X509_CERT_URL=
FB_UNIVERSE_DOMAIN=

